
::-webkit-scrollbar{
    visibility: hidden;
    width: 0px;
}

.editorView {
    height: 90vh;
    width: 99%;
    grid-column-start: 2;
    grid-column-end: 2;

    border: white;
    border-style: groove;
    border-width: 1px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Default vscode dark theme */

}

details {
    background-color: #4e4e4e;
    padding: 5%;
}

#workingFilesDetail > p {
    text-align: justify;
    word-wrap: break-word;
    font-size: smaller;
}

.parentLayout{
    width: match-parent;
    display: grid;
}

.topBar{
    border: white;
    border-radius: 1px;
    border-style: ridge; 
    color: white;
    display: grid;
}

#leftSideContainer{
    border: white;
    border-radius: 1px;
    border-style: groove; 
    color: white;
    background-color: pink;
    min-width: 150px;

    grid-column-start: 1;
    grid-column-end: 1;
}

/* Temporary top bar sorting out */

.topBar {
    min-height: 15%;
    height: 25%;
    max-height: 30%;
}

.topBar > button{
    overflow-wrap: break-word;
    height: 50px;

    color: white;
    background-color: #4e4e4e;
    margin: 5px;
}

#iconOne{
    grid-column-start: 1;
    grid-column-end: 1;
}
#iconTwo{
    grid-column-start: 2;
    grid-column-end: 2;
}
#iconThree{
    grid-column-start: 3;
    grid-column-end: 3;
}
#iconFour{
    grid-column-start: 4;
    grid-column-end: 4;
}
