.editorView {
    height: 98vh;
    width: auto;
    grid-column-start: 2;
    grid-column-end: 2;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Default vscode dark theme */

}



details {
    /* border: white;
    border-radius: 1px;
    border-style: ridge; */
    background-color: #3e3e3e;
    padding-right: 5%;
}

details > p {
    text-align: justify;
    word-wrap: break-word;
    font-size: smaller;
    margin: 5%;
}

.parentLayout{
    width: match-parent;
    display: grid;
}

.topBar{
    border: white;
    border-radius: 1px;
    border-style: ridge; 
    color: white;
}

.horizontalLay {
    /* float: left; */
    color: white;
    border: red;
    border-radius: 1px;
    border-style: ridge; 
}

.horizontalLay.editorView{
    /* float: left; */
    clear: none;
    width: 100%;
    overflow: auto;
}

::-webkit-scrollbar{
    visibility: hidden;
    width: 0px;
}

#leftSideContainer{
    border: white;
    border-radius: 1px;
    border-style: ridge; 
    color: white;
    background-color: pink;
    width: auto;

    grid-column-start: 1;
    grid-column-end: 1;
}