
::-webkit-scrollbar{
    visibility: hidden;
    width: 0px;
}

/* ROOT */
:root{
    /* ~~COLOUR INFORMATION~~ */
    /* 
        FOR USE WITH
        https://davidwalsh.name/css-variables-javascript?__cf_chl_jschl_tk__=1173ddcdfb18d816eca6b7bb352bd7e26ea09bb6-1619762597-0-AV0wN_9mCGCFJbZCQw2qZQRw_E6hWY3uv-XKcHdIcuTriEY5dh7sI65ygYpW4rqmGbK-Eiq5IfQ-1z9FLf7zTXFZ7ftctl9rA9YHVUiBE8OMUJXBhO3gKey25UmyZKse30DzFYpMgVAK0V3jlq49VYyHsPlNpbHPD-yQqjZSnYkh49z3r0XbPLHi7E07N5kmOanvDYv6LlSi4vDyllmOxzRPAwN9Xj3PUA9IVWeiLDU0547GFYiSA7dDRh-VI-qUaEisTCgN8XnmQQ8T0mmdDfXVZM68wlq2-W3DpCCxF4TjOHPmeZP5D03XvsZ2X3VeHMDC4RGORytHxs07YHYJc0vaPLN8iUyBL0OOAD6ZCBpA2OzJarmnxjRJu1DhYzYqePM18rg6lOJAcjTsc7WoK_g
    */
    --clr1: #ECEFF1;
    --clr2: #CFD8DC;
    --clr3: #B0BEC5;
    --clr4: #90A4AE;
    --clr5: #78909C;
    --clr6: #607D8B;
    --clr7: #546E7A;
    --clr8: #455A64;
    --clr9: #37474F;
    --clr10: #263238;

    /* Human readable colour theme */
    --editor: #CFD8DC;
    --topSideEdit: #CFD8DC;
    --tabGap: #546E7A;
    --dividerColour: #90A4AE;
    
    /* ~~CONSTANT COLOURS~~ */
    --primary_text: #000000;
    --secondary_text: #FFFFFF;
}

/* BODY */

body {
    margin: 0;
    padding: 0;
    background-color: var(--topSideEdit);

    overflow-x: hidden;
    overflow-y: hidden;
}



/* TOP BAR */
.topBar{
    color: var(--primary_text);
    background-color: var(--topSideEdit);
    display: grid;
    padding-top: 5px;

    min-height: 15%;
    height: 25%;
    max-height: 30%;
}


button {
    background-color: var(--topSideEdit);
    color: var(--primary_text);

    border: var(--primary_text);
    border-style: solid;
    border-width: thin;

    padding: 5px;
}


.topBar > div{
    display: flex;
    justify-content: center;
    align-items: center;

    border-style: hidden solid hidden hidden;
    border-color: var(--dividerColour);
    border-width: thin;
}

.topBar > div > input{
    width: 25px;
}

.topBar > div > button{
    height: min-content;
    margin: 0px 5px;
}

.topBar > div > select{
    height: min-content;
}


/* 
    Each section is defined by a unique ID, there is probably a better way to
    do this, but at least it's not tables. 
*/
#iconOne{
    grid-column-start: 1;
    grid-column-end: 1;

}

select{
    width: 60px;
}

#iconTwo{
    grid-column-start: 2;
    grid-column-end: 2;

}
#iconTwo > select{
    width: 100px;
}

#iconThree{
    grid-column-start: 3;
    grid-column-end: 3;
    border-style: hidden;
}
#iconFour{
    grid-column-start: 4;
    grid-column-end: 4;
}



/* PARENT LAYOUTS */



.parentLayout{
    display: grid;
    border-style: hidden;
    border-radius: 15px;
}

/* SIDE BAR */

#leftCont{
    margin-left: 5px;
}

#leftSideContainer{
    border: var(--dividerColour);
    border-style: solid hidden hidden hidden;
    border-width: thin;

    color: var(--primary_text);
    background-color: var(--topSideEdit);
    min-width: 150px;

    padding-top: 10px;

    grid-column-start: 1;
    grid-column-end: 1;
}

#workingFilesDetail{
    background-color: var(--topSideEdit);
    padding: 5%;
}

#workingFilesDetail > p {
    text-align: justify;
    word-wrap: break-word;
    font-size: smaller;
}


/* EDIT SPACE */

.outerOuterEditor{
    width: match-parent;
    background-color: var(--tabGap);
    grid-column-start: 2;
    grid-column-end: 2;

    border-style: hidden;
    border-radius: 15px;
    margin-right: -20px;

    margin-top: 5px;
    margin-left: 5px;
}

.outerEditor{
    border-style: hidden;
    border-radius: 15px;
    background-color: var(--editor);
    margin-left: 15px;
    margin-top: 15px;
    padding-bottom: 20px;
    padding-top: 5px;
}

.editorView {
    margin-top: 5px;
    margin-left: 5px;
    height: 98vh;
    width: 99%;

    /* border: var(--clr5);
    border-style: groove hidden hidden groove;  */
    
    left: 0px;
    top: 0px;
    /* border-width: 1px; */
}










